body.clicked {
  background-color: rgb(131, 131, 122);
}

.container {
  background-color: gainsboro;
  width: 500px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

.container.clicked {
  color: #fff;
  background-color: black;
  border-color: #fff;
}

.theme {
  display: flex;
  justify-content: end;
  margin: 5px 10px;
}

.theme__color {
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 24px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4px;
  background-color: white;
}

.theme__color.clicked {
  border: 2px solid white;
  background-color: black;
}

.theme__color--pointer {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  transition: transform 0.5s;
  border-radius: 50%;
  background-color: greenyellow;
}

.theme__color--pointer.clicked {
  box-sizing: border-box;
  transform: translateX(16px);
  background-color: rgb(15, 233, 62);
  border: 2px solid #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  height: 100px;
}

button {
  border-radius: 15px;
  border: none;
  background-color: #fff;
  height: 30px;
  color: rgb(30, 218, 30);
}

button:hover {
  color: white;
  border: 2px solid white;
  background-color: blue;
  cursor: pointer;
}
